.banner {
  position: relative;

  img.main {
    width: 100%;
  }

  .logo {
    @include span-columns(5);
    @include media($mobile) {
      @include span-columns(12);
      position: relative;
      font-size: 80%;
    }

    h1 {
      margin: 0;

      a {
        color: $white;
        &:hover { text-decoration: none; }
      }
    }

    .sub-text {
      display: inline-block;
      margin-bottom: 1em;
      border-bottom: 2px solid $highlight-light;
      padding-right: 1em;
    }

    padding-left: 1em;
    color: $white;
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 700;

    background-color: rgba($highlight, 0.75);
    border-top: 1px solid darken($highlight, 15);
    border-right: 1px solid darken($highlight, 15);
  }
}
