.banner {
  position: relative;
  cursor: pointer;

  img.main {
    width: 100%;
  }

  .logo {
    @include span-columns(5);
    @include media($mobile) {
      @include span-columns(12);
      position: relative;
      font-size: 80%;
      background-color: $black;
    }

    h1 {
      margin: 0;
      color: $white;
    }

    .sub-text {
      display: inline-block;
      margin-bottom: .5em;
      padding-right: 1em;
    }

    padding-left: 1em;
    left: 0;
    bottom: 0;
    font-weight: 700;

    @include image-overlay();
  }
}
