<banner [banner]="bannerSettings"></banner>
<div class="page-wrapper">
  <div class="home content">

    <div class="side">
      <div class="places">
        <h3>Places</h3>
        <ul *ngIf="places">
          <li *ngFor="#place of places"><a (click)="navigateTours(place)">{{place.name}}</a></li>
        </ul>
      </div>

      <featured></featured>
    </div>

    <div class="intro">
      <h1>... tour with us</h1>
      <p>Street art vinyl messenger bag readymade quinoa, YOLO williamsburg. Four loko skateboard flannel, bushwick gluten-free fap williamsburg migas normcore. Dreamcatcher actually viral, forage bicycle rights tofu wayfarers sriracha single-origin coffee. Direct trade food truck cornhole brunch. Hammock pork belly deep v chia, plaid franzen tacos narwhal VHS yuccie heirloom next level godard pabst thundercats. Pour-over pabst biodiesel post-ironic roof party normcore. Neutra pickled tattooed, twee franzen single-origin coffee retro man bun photo booth.</p>

      <div class="iframe-embed-wrapper">
        <iframe src="https://player.vimeo.com/video/157320165" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/157320165">ALONE</a> from <a href="https://vimeo.com/animalvfx">Animal</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      </div>

      <p>Squid four loko chicharrones, mixtape sustainable polaroid meditation pop-up single-origin coffee. Semiotics blue bottle four dollar toast, master cleanse street art pabst bitters fashion axe banjo DIY cold-pressed small batch fixie. Marfa godard shabby chic, +1 thundercats chambray crucifix. Craft beer drinking vinegar street art pour-over fanny pack. Neutra XOXO disrupt VHS knausgaard. Drinking vinegar swag tacos, viral actually vegan banh mi. Mustache kale chips marfa, yr before they sold out gastropub tousled keffiyeh vegan offal chicharrones letterpress hella wolf irony.</p>

      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/239793212&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

      <p>Try-hard mumblecore listicle tilde yuccie. Wayfarers meggings health goth microdosing keffiyeh craft beer deep v hashtag. Church-key small batch ugh, tattooed austin messenger bag swag chia kickstarter scenester photo booth chillwave pork belly cliche waistcoat. Echo park lomo ennui keffiyeh, literally pitchfork pop-up thundercats selvage organic tacos wayfarers biodiesel salvia leggings. Cronut quinoa next level, small batch PBR&B franzen chicharrones lomo shoreditch kombucha sartorial fanny pack. Truffaut four loko polaroid post-ironic. Cardigan actually vinyl food truck locavore chia, shabby chic iPhone four dollar toast forage single-origin coffee cray.</p>

      <div class="iframe-embed-wrapper">
        <iframe src="//e.issuu.com/embed.html#0/32503337" frameborder="0" allowfullscreen></iframe>
      </div>

      <p>Kinfolk beard gluten-free shabby chic, normcore 90's drinking vinegar shoreditch mixtape marfa raw denim meditation PBR&B retro authentic. Fashion axe swag 90's typewriter food truck. Letterpress cornhole pork belly hella selvage health goth. Truffaut blog quinoa thundercats, post-ironic roof party scenester. Kombucha truffaut occupy, shoreditch slow-carb 8-bit tofu squid. Kitsch kickstarter paleo, taxidermy mustache quinoa shabby chic bespoke typewriter jean shorts pitchfork austin normcore meh forage. Wolf everyday carry scenester mustache seitan, kogi affogato YOLO.</p>
    </div>

  </div>
</div>
