<banner [banner]="bannerSettings"></banner>
<breadcrumbs [breadcrumbs]="breadcrumbSettings"></breadcrumbs>

<div class="page-wrapper" *ngIf="tours">
  <div class="tours content">
    <h1 *ngIf="!place">Tours</h1>
    <h1 *ngIf="place">Tours {{place.name}}</h1>

    <div class="tours">
      <div *ngFor="#tour of tours" class="tour" (click)="navigateTour(tour)">
        <img src="/media/tours/{{tour.id}}/thumb.jpg" />
        <div class="title">{{tour.title}}</div>
      </div>
    </div>
  </div>
</div>
