<banner [banner]="bannerSettings"></banner>

<div class="page-wrapper">
  <div class="home content">

    <div class="side">
      <div class="places">
        <h3>Places</h3>
        <ul *ngIf="places">
          <li *ngFor="let place of places"><a (click)="navigateTours(place)">{{place.name}}</a></li>
        </ul>
      </div>

      <featured></featured>
      <instagram></instagram>
    </div>

    <div class="intro content">
      <h1>Ho`okāhi no lā o ka malihini.</h1>
      <p>This site is a collection of Politics of Place [POP] Tours designed by
      students in an undergraduate class on Hawai`i Politics at the University
      of Hawai`i at Mānoa (Spring 2016). POP Tours are essentially walking tours
      that address the politics of a particular place that are held within the
      land and the people that live there. The POP Tours shared here focus on
      Hawai`i.
      </p>
      <p>The students used their POP Tours to address topics of their choice.
      Here, it is possible to take POP Tours on <a href="http://pop-tours.com/tour/think-local-hawaii">Food Security</a>,
      <a href="http://pop-tours.com/tour/big-trouble-in-little-paradise">Sports Tourism</a>,
      <a href="http://pop-tours.com/tour/kakaako-houselessness-luxury-development">Luxury Development in Kaka`ako</a>,
      <a href="http://pop-tours.com/tour/big-island-plantation-contamination-driving-tour">Plantation history on the Big Island</a>,
      <a href="http://pop-tours.com/tour/where-the-alii-once-roamed">the Overthrow of the Kingdom of Hawai`i in 1893</a>,
      <a href="http://pop-tours.com/tours/Hawaii">plus many more</a>!
      </p>
      <p>POP Tours help us explore our relationship to place. They were created
      in a course that was premised on the idea that depending on who we are and
      where we are, your relationship to place is going to change. In Hawai`i,
      for example, whether we are visitors, guests, foreigners, exchange
      students, arrivants, descendants of families that have been in Hawai`i for
      multiple generations, Kānaka `Oiwi, none of these or all of these; we all
      have one thing in common: we are living in a placeHawai`iwhere the
      original Peoples and lands are currently and forcibly occupied by a
      foreign nationThe United States of America. There is an active Aloha `Āina
      independence movement to regain <a href="https://www.dukeupress.edu/A-Nation-Rising/">ea</a> (sovereignty or breath)
      in the Archipelago. As students in Hawai`i, we were guided by the following
      question: how do these politically contentious and competing desires for
      Hawai`i inform how we relate to this place? While there are many theories
      and concepts we could use to try and answer this question, the course drew
      upon those that articulate <a href="http://decolonization.org/index.php/des/article/view/18630">Settler Colonialism and Decolonization</a>.
      </p>
      <p>The course asked the students to take seriously the `olelo no`eau (wise
      saying): Ho`okāhi no lā o ka malihini. Translated literally, it means “a
      stranger only for a day.” Figuratively, it means “after the first day as a
      guest, one must help with the work” (Pukui 1983, 115). Our work in the
      class was informed by a practice of relationality in which we “begin
      trying to see the world as networked together, and to understand how
      various actions and decisions will impact the world around us” not just in
      Hawai`i, but throughout Oceania (Lowman &amp; Barker 2015, 118). Drawing upon
      methods and tools of critical mapping and critical literacy, we set out to
      explore how the places that surround us are imbued with politics.
      </p>
      <p>These POP Tours invite each of you to interact with The Politics of
      Place, learn something new, and then help with the work.
      </p>
      <p>If you have any questions or comments, contact <a href="mailto:lcharlie@hawaii.edu">Lianne Charlie</a>
      </p>
    </div>

  </div>
</div>
