body {
  font-family: 'Gentium Basic', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

h3,
h4,
h5,
h6 {
  color: $highlight;
}

.page-wrapper {
  @include outer-container;
}

.content {
  padding: 1em;
}
