body {
  font-family: 'Gentium Basic', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: $highlight;
}

a {
  color: $black;
}

img { display: block; }

.page-wrapper {
  @include outer-container;
}

.content {
  padding: 0 1em;

  h1 {
    border-bottom: 1px solid $highlight-light;
  }
  p {
    @include media($mobile) {
      border: none;
      padding: 0;
    }
    border-left: 1px solid $highlight-light;
    padding-left: 1em;
    margin: 2em 0 2em;
    text-align: justify;
  }
}

.side {
  @include span-columns(3);
  @include media($mobile) {
    @include span-columns(12);
  }
}

body {
  position: relative;
  margin-bottom: 3em;
}

footer {
  background: $highlight;
  color: $white;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  margin-bottom: -3.5em;
  font-size: 85%;
  span {
    display: block;
    padding: 0.5em;
  }
  a {
    color: $white;
  }
}
