html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.home .block1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .home .block1:last-child {
    margin-right: 0; }

.home .block1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .home .block1:last-child {
    margin-right: 0; }
